* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

/* HERO */
.hero {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 20px 150px 80px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

.links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.links a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
}

.hero-text p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px 0 20px;
}

button {
    background-color: #3882F6;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 8px;
    cursor: pointer;
}

.hero-image {
    background: gray;
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}

/* INFO */
.info {
    text-align: center;
    padding: 50px 150px;
}

.info h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 40px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.card {
    max-width: 150px;
}

.box {
    border: 3px solid #3882F6;
    border-radius: 12px;
    height: 120px;
    margin-bottom: 10px;
}

/* QUOTE */
.quote {
    background-color: #E5E7EB;
    padding: 80px 200px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}

.quote-author {
    text-align: right;
    margin-top: 20px;
    font-weight: 900;
}

/* CTA */
.cta {
    padding: 80px 150px;
}

.cta-box {
    background-color: #3882F6;
    color: white;
    padding: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta-btn {
    border: 2px solid white;
}

/* FOOTER */
footer {
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    padding: 20px;
}